@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
main{ 
    max-width: 1440px;
    margin: 0 auto;

}
main > section{
    margin-top: 130px;
}
.btn-primary{
    font-size: 1.25rem;
    font-weight:600 ; 
    color: white;
    background-color: #FF900E;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding:20px 25px ;

}
.section-title{ 
    font-size: 2.81rem;
    font-weight: 700;
}
/* text color */
.dark2{
    color: #424242 ;

}
.dark3{
    color: #727272 ;
}
/* Header part styles */
.bg-light{
    background-color: rgb(255,244,231);
}
/* Navbar related styles */
.navbar{
   
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.813rem;
}
.nav-item{ 
list-style: none;
margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner Related style */
.banner-content{
    max-width: 850;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 49px ;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem; 
}
.banner-image{width: 100%;

}
/* teams and features related style */
.teams{
    align-items: center;
    /* margin-top:85px; */
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
    
}
.our-features{
    margin-left: 75px;
    max-width: 540px;
}
.feature-title{
    font-size: 2.81rem;
}
.feature-description{
    font-size: 1rem;
}

/* Features section related styles */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px; 

}
.feature-card{
   padding:30px;
   box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
   margin-bottom: 20px;
   border-radius: 8px;
   
}

.feature-card , .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

/* Fact style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.fact-number{
    font-size:  2.81rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    margin-top:10px;
}
.fact-description{
    max-width: 540px;
}

/* sponsor related style */
.sponsor-info{
    max-width:540px;
    margin: 50px auto;
    text-align: center;
 }
 .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
 }
 .gray{
    filter: grayscale(100%);
 }


/* Responsive media query */
@media screen and (max-width:576px) {
 .navbar,
 .nav-links,
 .teams{
     flex-direction: column;
 }
  .team-img-container,
  .facts-container,
   .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
  }
  .facts-container{
    justify-items: center;
    gap: 24px;
  }
  .our-features{
    margin-left: 20px;

 }
 .sponsor-companies{
    gap: 35px;
    justify-items: center;
 }
}


/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{margin: 40px auto;}    
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(2,1fr);
        gap: 35px;
        justify-items: center;
    }
}
